{% extends "base.html" %}


{% block body %}
<div class="bp4-card bp4-elevation-2 bp4-interactive">
  <h2 class="bp3-heading">Login</h2>
  <form method="post">
    {% csrf_token %}
    <div class="bp3-form-group">
      <label class="bp3-label" for="username">Username</label>
      <div class="bp3-form-content">
        <input class="bp3-input" id="username" name="username" type="text" required>
      </div>
    </div>
    <div class="bp3-form-group">
      <label class="bp3-label" for="password">Password</label>
      <div class="bp3-form-content">
        <input class="bp3-input" id="password" name="password" type="password" required>
      </div>
    </div>
    <button class="bp3-button bp3-intent-primary" type="submit">Log in</button>
  </form>
</div>
{% endblock %}
